
.card {
  background-color: white;
  width: 600px;
  height: 300px;
  list-style-type: none;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-content: space-between;
}

.list-card {
  margin: 20px;
  display: flex;
  height: 200px;
  width: 600px;
  border: solid 2px #564256;
  background-size: cover;
  background-position: center;
}
